* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scrollbar-width: none !important;
}

*::-webkit-scrollbar {
  width: 0px !important;
  background: transparent !important;
}

body, html {
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D3D3D3;
  padding-top: 0;
  height: calc(100vh - 60.86px);
  max-height: calc(100vh - 60.86px);
  overflow-y: auto;
}

ul {
  padding: 12px 16px;
}

button {
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.word-break {
  word-break: break-word;
  overflow-wrap: break-word;
}

.no-select {
  user-select: none;
}

.italic {
  font-style: italic;
}