.form-notes {
  padding: 20px;
  width: 100%;
  background-color: white;
  color: black;
  font-size: 20px;
  overflow-y: auto !important;
  flex-grow: 1 !important;
  display: flex;
  flex-direction: column;
}

.form-notes > .text {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 20px;
  line-height: 1.5;
  font-family: inherit;
  overflow-wrap: break-word;
  padding: 0;
  margin: 0;
  min-height: 24px;
  white-space: pre-wrap;
  user-select: text;
  outline: none;
  resize: none;
  cursor: text;
  flex-grow: 1;
}

.form-notes > .text:empty::before {
  content: attr(data-placeholder);
  color: #888;
  pointer-events: none;
  user-select: none;
  display: block;
}

.btnsNotes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btnsNotes > .btnsProperty {
  display: flex;
}

.btnSaveNotes {
  border: none;
  padding: 10px 16px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 120px;
  max-width: 120px;
  background-color: #577A99;
  color: white;
}

.btnSaveNotes:hover {
  background-color: #688FB0;
  color: white;
}

.cursor-text {
  cursor: text !important;
}

.title-notes {
  font-size: 24px !important;
  font-weight: bold;
}

.audio-player {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
  padding-bottom: 16px;
}

.audio-controls {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.btnOption {
  padding: 8px 12px;
  border-radius: 6px;
  border: 0px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: #7e2ba9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

progress.progress-bar {
  appearance: none;
  -webkit-appearance: none;
  overflow: hidden;
}

progress.progress-bar::-webkit-progress-bar {
  background-color: #9ca3af;
  border-radius: 8px;
}

progress.progress-bar::-webkit-progress-value {
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: #7e2ba9;
  border-radius: 8px;
  transition: width 0.4s ease;
}

progress.progress-bar::-moz-progress-bar {
  background: linear-gradient(to right, #2563eb, #4f46e5);
  border-radius: 8px;
}

@media (max-width: 768px) {
  .form-notes {
    padding-bottom: 50vh !important;
  }
  
  .form-notes > .text {
    font-size: 16px !important;
  }
}

input, textarea, [contenteditable] {
  font-size: 16px !important;
}

@supports (-webkit-touch-callout: none) {
  .form-notes {
    height: -webkit-fill-available;
  }
}